<div class="p-10">
  <h1 class="text-balance text-xl font-bold tracking-tight text-gray-900 sm:text-4xl pb-10">My Movements</h1>
  <div class="p-10 scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-200" style="height: 400px; overflow-y: scroll;">
    @for (movement of movements; track $index) {
      <ol class="relative border-s border-gray-200 dark:border-gray-700">
        <li class="mb-10 ms-4">
          <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
          </div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{{ movement.date }}</time>
          <h3
            class="text-lg font-semibold"
            [ngClass]="{
              'text-green-500': movement.p_type === 'incomes',
              'text-red-500': movement.p_type === 'expenses'
            }">
            {{ movement.p_type === 'incomes' ? '+' : '-' }} {{ movement.p_amount }} $
          </h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">{{ movement.p_description }}</p>
        </li>
      </ol>
      }
  </div>
</div>
